.product {
    border-radius: 8px;
    border: 1px solid rgb(240, 240, 240);
    padding: 12px;
    font-family: Arial, serif;
    display: inline-block;
}

.product-full {
    border-radius: 8px;
    border: 1px solid rgb(240, 240, 240);
    padding: 12px;
    font-family: Arial, serif;
    display: flex;
    justify-content: left;
    gap: 10px;
}

.product-full .price {
    margin: 12px 0;
}

.photo {
    background-color: rgb(240, 240, 240);
    width: 100%;
    min-width: 140px;
    height: 140px;
    border-radius: 8px;
    margin-bottom: 12px;
}

.description {
    font-size: 13px;
}

.product .price {
    text-align: right;
    margin-top: 12px;
}

.photo img {
    width: 100%;
    height: 100%;
}
