$light: (
        mainBg: #fff,
        bg: #f3f4f6,
        borderColor: #e9e9ea,
        borderColor2: #f0f0f0,
        border: 1px solid #e9e9ea,
        boxShadow: 0 3px 6px rgba(0, 0, 0, 0.05),
        brightText: #23272f,
        skeletonLight: #f2f2f2,
        skeletonDark: #e6e6e6,
        skeletonImage: linear-gradient(90deg, #f2f2f2, #e6e6e6, #f2f2f2),
        inverseText: #f6f7f9,
        text: #404757,
        lightText: #5f697e,
        mainRedLight: #E9B6B4,
        mainRed: #E97973,
        mainGreenLight: #AFE3B6,
        mainGreen: #70E37E,
        accentLight: #F7D9B6,
        accent: #DB831C,
        accent2Light: #ADD1E5,
        accent2: #18638B,
        boxShadowError: 0 0 16px rgba(#ec5f57, 0.05)
);

$dark: (
        mainBg: #23272f,
        bg: #1a1c22,
        borderColor: #2d2f33,
        borderColor2: #3e4148,
        border: 1px solid #2d2f33,
        boxShadow: 0 3px 6px rgba(255, 255, 255, 0.05),
        brightText: #f6f7f9,
        skeletonLight: #383838,
        skeletonDark: #2c2c2c,
        skeletonImage: linear-gradient(90deg, #383838, #2c2c2c, #383838),
        inverseText: #23272f,
        text: #f6f7f9,
        lightText: #ebecf0,
        mainRedLight: #5B0B07,
        mainRed: #8A1A14,
        mainGreenLight: #05460D,
        mainGreen: #0F6B1A,
        accentLight: #C5AB8B,
        accent: #8A5213,
        accent2Light: #7C9BAC,
        accent2: #0F4057,
        boxShadowError: 0 0 16px rgba(#ec5f57, 0.05)
);
